from domofon.settings import *
from envparse import env

DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': env.str('SIP_DB_NAME'),
        'USER': env.str('SIP_DB_USER'),
        'PASSWORD': env.str('SIP_PASS'),
        'HOST': env.str('SIP_DB_HOST'),
        'PORT': env.int('SIP_DB_PORT'),
        #'ATOMIC_REQUESTS': True,
    }
}

CACHES = {
    'default': {
        'BACKEND': 'redis_cache.RedisCache',
        'LOCATION': f'{env.str("REDIS_HOST")}:{env.str("REDIS_PORT")}',
        'OPTIONS': {
            'CLIENT_CLASS': 'django_redis.client.DefaultClient',
        }
    }
}


client_db = {
        'NAME': env.str('CLIENT_DB_NAME'),
        'USER': env.str('CLIENT_DB_USER'),
        'PASSWORD': env.str('CLIENT_PASS'),
        'HOST': env.str('CLIENT_DB_HOST'),
        'PORT': env.int('CLIENT_DB_PORT')
    }

synapse_db = {
        'NAME': env.str('SYNAPSE_DB_NAME'),
        'USER': env.str('SYNAPSE_DB_USER'),
        'PASSWORD': env.str('SYNAPSE_PASS'),
        'HOST': env.str('SYNAPSE_DB_HOST'),
        'PORT': env.int('SYNAPSE_DB_PORT')
    }


# use for user_id matching
synapse_server_name = env.str('SYNAPSE_SERVER_NAME')


EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
EMAIL_USE_TLS = True
EMAIL_HOST = 'localhost'
EMAIL_PORT = 1025
# EMAIL_HOST_USER = 'sip-domofon@gmail.com'
# EMAIL_HOST_PASSWORD = 'dsdswdwdF3'
DEFAULT_FROM_EMAIL = 'Sip-Domofon <sip-domofon@gmail.com>'
ADMIN_EMAIL = 'admin@sip-domofon.ru'
EMAIL_FILE_PATH = 'tmp_files/email-messages/'

INTERNAL_IPS = [
    '127.0.0.1',
    'localhost'
]

ALLOWED_HOSTS = [
    '178.124.222.234',   # HS-Robotics
    '0.0.0.0',
    '127.0.0.1',
    'localhost'
]

INSTALLED_APPS += (
     # 'django_extensions',
     # 'debug_toolbar',

)

# MIDDLEWARE_CLASSES += ('debug_toolbar.middleware.DebugToolbarMiddleware',)

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,

    'handlers': {
        'file_info': {
            'level': 'DEBUG',
            'class': 'logging.FileHandler',
            'filename': os.path.join(BASE_DIR, 'tmp_files', 'my_debug.log')
        },
    },
    'loggers': {
        '': {
            'level': 'DEBUG',
            'handlers': ['file_info'],
        },
    }
}

