#unhandled {
    color: crimson;
}

.treeview .list-group-item {
  padding: 5px 15px;
}

.main-footer {
  text-align: center;
}
.not-active-step {
    opacity: 0.4;
}
.test-param-remove {
    color: #dd4b39;
    cursor: pointer;
}
.center-td{
    text-align: center;
}
#formulas_tree{
    max-height: 600px;
    overflow-y: auto;
}

.material-card-properties table {
    width: 100%;
    border: 1px solid black;
}
.material-card-properties td {
    width: 50%;
    border: 1px solid black;
}
.material-card-properties .property-group {
    background-color: skyblue;
    cursor: pointer;
}
#catalog_table tbody tr {
    cursor: pointer;
}
.modal-body {
    max-height: 550px;
    overflow-y: auto;
}

h5.def-filter-group{
    font-style: italic;
    font-size: 12px;
}
span.def-filter-name{
    font-style: italic;
    font-size: 11px;
}
.def-filter{
     margin-bottom: 0px;
 }
.def-filter .icon-remove{
    cursor: pointer;
}
.def-filter .icon-remove-circle{
    cursor: pointer;
}
.def-filter .show-checkboxes{
    cursor: pointer;
    text-decoration: underline;
    color: lightslategray;
    text-align: center;
    font-size: 12px;
}
.def-filter .checkbox-group{
    font-size: 12px;
}
.def-filter .ui-widget-header{
    background: #579a9a;
}
.def-filter .range-input{
    color: #579a9a;
}
.def-filter .filter-checkbox-group{
    border: 1px solid gray;
}
.def-filter .filter-checkbox{
    margin: 0px 5px;
}

#filter-container h3{
    font-size: 16px;
}
#filter-container input,#filter-container select{
    font-size: 12px !important;
}
#filter-container h3,#filter-container h5{
    margin-top: 3px;
    margin-bottom: 3px;
}

#filter-container h3{
    font-size: 16px;
}
#filter-container input,#filter-container select{
    font-size: 12px !important;
}
#filter-container h3,#filter-container h5{
    margin-top: 3px;
    margin-bottom: 3px;
}
a.more-filters,a.hide-filters {
    color: red;
    cursor: pointer;
    font-size: 11px;
    text-decoration: underline;
    padding-bottom: 5px;
    margin-left: 20px;
}
.delete_child{
    color: red;
    cursor: pointer;
}
.def-filter .ui-slider-horizontal {

    height: 2px !important;
}

.def-filter .ui-slider-range-min {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -khtml-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.def-filter .ui-slider-handle {

    width: 8px !important;
    height: 8px !important;
    border: 2px solid #000000 !important;

}

.def-filter  .range-input{
   max-width: 50px;
}

.fa-question-circle{
    color:  limegreen;
    cursor: pointer;
}
.filter-input input{
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

#selected_properties option:nth-child(even) {
    background-color: #6FACCF;
    color:white;
    margin: 1px 0;
}
#selected_properties option:nth-child(odd) {
     background-color: mediumseagreen;
    color:white;
}
.remove-circle {
    cursor: pointer;
    color: #dd4b39;
}
.child-circle {
    cursor: pointer;
    color: greenyellow;
}
#measure_table td {
    vertical-align: inherit;
}


#catalog_table_container .measure-chooser {
    text-decoration: underline;
    cursor: pointer;
}


.material-card-properties  .fa-times{
    cursor: pointer;
    color: #ff0000;
    margin-left: 10px;

}

.material-card-properties  .raw_entity,.raw_entity_range{
    cursor: pointer;
    color: #034806;
    margin-right: 3px;

}
.material-card-properties  .select_text{
    cursor: pointer;
    color: #034806;
    margin-right: 3px;

}
.material-card-properties  .fa-download{
    cursor: pointer;
    margin-left: 10px;
}

.material-card-properties  .fa-plus-square{
    cursor: pointer;
    color: green;
    margin-left: 10px;
}
.material-card-properties  .material-image-add,.list-value-add{
    cursor: pointer;
    color: green;
    margin-left: 10px;
}

#files-container  .fa-times{
    cursor: pointer;
    color: #ff0000;
    margin-left: 10px;

}

.entity-edit-widget{
    text-decoration: underline;
    cursor: pointer;
}
.entity-range-edit-widget{
    text-decoration: underline;
    cursor: pointer;
}


.select_bound{
    cursor: pointer;
}
.check_bound_element{
    cursor: pointer;
    text-decoration: underline;
}
#attributes_table td input{
    max-width: 50px;
}
#attributes_table td select{
    max-width: 200px;
}
#attributes_table td textarea{
    max-width: 300px;
}
.selected-property{
   background-color: #f39c12 !important;
}

#materials_table tr{
    cursor: pointer;
}
.bootstrap-datetimepicker-widget{
    z-index:3000 !important;
    bottom: auto !important;
}
.model-selector {
    cursor: pointer;
}
.model-child-selector {
    cursor: pointer;
}
.model-property-selector {
    cursor: pointer;
}
.script-info {
    cursor: pointer;
}
.fa.node-selector {
    cursor: pointer;
    color: green;
}
.prop_select {
    cursor: pointer;
    color: blue;
}
#steps_table .delete_btn {
    cursor: pointer;
    color: red;
}
#catalog_modal .ui-layout-center {
    overflow: hidden !important;
}
#entity_modal .ui-layout-center {
    overflow: hidden !important;
}
#model_modal .ui-layout-center {
    overflow: hidden !important;
}
#property_modal .ui-layout-center {
    overflow: hidden !important;
}
#script-create-form .btn{
    margin-right: 10px;
}
.buttons_column{
    cursor: pointer;
}

.entity-card, .entity-range-list{
    cursor: pointer;
}
img.fixed_size {
    max-width: 100px;
    max-height: 100px;
}